.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.splash{
    background-image: url("../images/cover-photo.jpg");
    background-size: cover;
    background-position: center;
    background-color: var(--secondary);
    background-blend-mode: overlay;
    grid-column: 1/13;
    grid-row: 1/6;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 50dvh;
}

.container h1{
    font-weight: 900;
    font-size: 3rem;
    color: var(--text-dark);
}
.panel {
    display:flex;
    flex-direction: column;
    gap: 2rem;
    grid-column: 2/12;
    grid-row: 5/12;
}
section{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.blog {
    display:flex;
    align-items:center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
    flex-wrap: wrap;
}


.panel h2{
    font-weight: 900;
    color: var(--tertiary);
}
.blog-image{
    max-width: 100%;
    border-radius: 1rem;
}

.info-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.btn{
    text-align: center;
    padding: 1rem;
    background-color: var(--primary);
    border: none;
    border-radius: .5rem;
    font-size: 1.25rem;
    color: var(--text-dark);
    transition: all 0.3s ease-in-out;
    box-shadow:  rgba(0, 0, 0, 0.1) 0px 5px 15px;
}
.btn:hover{
    background-color: var(--tertiary);
    color: var(--text-light);
    cursor:pointer;
}

@media screen and (min-width : 768px) {
    .info-container{
        flex-direction: row;
        justify-content: space-around;
    }
    .blog .panel{
        flex-basis: 49%;
    }
    .blog{
        justify-content: flex-start;
    }
}


@media screen and (min-width : 1040px) {
    
    .blog .panel{
        flex-basis: 32%;
    }

    .info-container{
        flex-wrap:nowrap;
        gap: 1rem;
    }

    .blog-image{
        flex-basis: 33%;
    }
    
}
