main{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.splash{
    background-image: url("../images/cover-photo.jpg");
    background-size: cover;
    background-position: center;
    background-color: var(--secondary);
    background-blend-mode: overlay;
    grid-column: 1/13;
    grid-row: 1/6;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 50dvh;
}

main h1{
    font-weight: 900;
    font-size: 3rem;
    color: var(--text-dark);
}
main .panel {
    display:flex;
    flex-direction: column;
    gap: 2rem;
    grid-column: 2/12;
    grid-row: 5/12;
}
section{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.panel h2{
    font-weight: 900;
    color: var(--tertiary);
}
.form-element{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 100%;
}
.form-element label{
    font-size: 1.25rem;
}
.form-input {
    border: 1px solid var(--tertiary);
    outline: none;
    border-radius: .5rem;
    font-size: 1rem;
    width: 50dvw;
    transition: all 0.3s ease-in-out;
}
.form-input:focus{
    border: 2px solid var(--primary);
    box-shadow:  rgba(0, 0, 0, 0.1) 0px 5px 15px;
}

.form-input:not(.form-textarea){
    height: 2rem;
}
.form-textarea{
    resize:none;
    height: 6rem;
}
.btn{
    text-align: center;
}
#submit{
    padding: 1rem;
    background-color: var(--primary);
    border: none;
    border-radius: .5rem;
    font-size: 1.25rem;
    color: var(--text-dark);
    transition: all 0.3s ease-in-out;
    box-shadow:  rgba(0, 0, 0, 0.1) 0px 5px 15px;
}
#submit:hover{
    background-color: var(--tertiary);
    color: var(--text-light);
    cursor:pointer;
}

@media screen and (min-width: 768px) {
    form{
        width: 75dvw;
    }
    .form-element{
        flex-direction: row;
        justify-content: space-around;
        gap: 1rem;
    }
}