/*
 * The main component of the contact page
 */
main{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

/*
 * The splash image component
 */
.splash{
    background-image: var(--cover-photo);
    background-size: cover;
    background-position: center;
    background-color: var(--secondary);
    background-blend-mode: overlay;
    grid-column: 1/13;
    grid-row: 1/6;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 50dvh;
}

/*
 * The main heading in the splash component
 */
main h1{
    font-weight: 900;
    font-size: 3rem;
    color: var(--text-dark);
}
/*
 * The panel component containing the content of the contact page
 */
main .panel {
    display:flex;
    flex-direction: column;
    gap: 2rem;
    grid-column: 2/12;
    grid-row: 5/12;
}
/*
 * The section component containing the content of the contact page
 */
section{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

/*
 * The form component containing the contact form
 */
form{
    display:flex;
    flex-direction: column;
    gap: 1rem;
}

/*
 * The form element component containing a single form element
 */
.form-element{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    width: 100%;
}
.form-element label{
    font-size: 1.25rem;
    margin-bottom: 1rem;
}
.form-input {
    border: 1px solid var(--tertiary);
    outline: none;
    border-radius: .3rem;
    font-size: 1rem;
    width: 50dvw;
    transition: all 0.3s ease-in-out;
}
.form-input:focus{
    border: 2px solid var(--primary);
    box-shadow:  rgba(0, 0, 0, 0.1) 0px 5px 15px;
}

/*
 * The form input component
 */
.form-input:not(.form-textarea){
    height: 2rem;
}
.form-textarea{
    resize:none;
    height: 6rem;
}

/*
 * Media query for the form element component
 */
@media screen and (min-width: 768px) {
    .form-element{
        flex-direction: row;
        justify-content: space-around;
        gap: 1rem;
    }
}
