main{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.splash{
    background-image: url("../images/cover-photo.jpg");
    background-size: cover;
    background-position: center;
    background-color: var(--secondary);
    background-blend-mode: overlay;
    grid-column: 1/13;
    grid-row: 1/6;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    flex-direction: column;
    padding-top: 1rem;
}

.panel-img{
    max-width: 50dvw;
    z-index: 3;
}
/* .panel-img{
    grid-column: 5 / 9;
    grid-row: 4 / 7;
    z-index: 1;
} */


main .panel {
    display:flex;
    flex-direction: column;
    gap: 2rem;
    grid-column: 2/12;
    grid-row: 5/12;
    align-items: flex-start;
}


.social-icons{
    display:flex;
    gap: 1rem;
    justify-content: space-evenly;
    flex-wrap:wrap;
    width: 100%;
    
}

.panel section{
    width: 100%;
}
section{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

section h2{
    font-weight: 900;
    color: var(--tertiary);
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .panel-img{
        max-width: 25dvw;
    }
    .splash{
        justify-content: center;
        flex-direction: row;
        gap: 4rem;
        padding-top: 0;
    }
}