.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.splash{
    background-image: url("../images/cover-photo.jpg");
    background-size: cover;
    background-position: center;
    background-color: var(--secondary);
    background-blend-mode: overlay;
    grid-column: 1/13;
    grid-row: 1/6;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 50dvh;
}

.container h1{
    font-weight: 900;
    font-size: 3rem;
    color: var(--text-dark);
}
.panel {
    display:flex;
    flex-direction: column;
    gap: 2rem;
    grid-column: 2/12;
    grid-row: 5/12;
}
section{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.services {
    display:flex;
    align-items:center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
    flex-wrap: wrap;
}

.panel h2{
    font-weight: 900;
    color: var(--tertiary);
}